# Node.js
node_modules/

# Gulp

gulpfile.ts


# Compiled JavaScript
*.js

# IDE/Editor specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
